parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - "#static#"
        - "#session_set_cookie_params#"
        - "#int<70200, 70399> and 70200#"
